<md-content ng-controller="aboutCtrl" layout="column" layout-padding layout-align="" class="full-height">
	<md-card>
		<md-card-header>
			<md-card-avatar>
				<img src="https://github.com/cawa-93/ad_maker/blob/master/build/icons/128x128.png?raw=true"/>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{app.name}}</span>
				<span class="md-subhead">Редактор кампаний Яндекс.Директ</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<p>
				Версия <a href="" ng-click="openExternal('https://github.com/cawa-93/ad_maker/releases')">{{app.version}}</a>
				<br>
				<a href="" ng-click="openExternal('https://github.com/cawa-93/ad_maker/blob/master/LICENSE?raw=true')">Условия использования</a>
			</p>
		</md-card-content>
		<md-card-actions layout="row">
			<md-button flex="40" md-colors="{background: 'green'}" ng-click="openExternal('https://www.liqpay.com/ru/checkout/kozack')">Сказать "Спасибо"</md-button>
			<md-button ng-click="openExternal('https://github.com/cawa-93/ad_maker')">Исходный код</md-button>
		</md-card-actions>
	</md-card>

</md-content>
