<md-content ng-controller="fastLinksCtrl" style="max-height: 100%">
	<form name="formCtrl"  layout="column" >
		<div layout="row" layout-padding ng-repeat="i in [1,2,3,4]">
			<md-input-container class="md-block" flex="33">
				<label>Заголовок {{i}}</label>
				<input md-maxlength="33" pattern="[^!?]*" required md-no-asterisk name="title{{i}}" ng-model="fastLinks[0][i]">
				<div ng-messages="formCtrl['title'+i].$error">
					<div ng-message="required">Это обязательное поле</div>
					<div ng-message="md-maxlength">Длинна текста не должна превышать 33 символа</div>
					<div ng-message="pattern">Текст может состоять из букв, цифр и символов, кроме «!» и «?»</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="33">
				<label>Ссылка {{i}}</label>
				<input type="url" md-maxlength="1013" required md-no-asterisk name="url{{i}}" ng-model="fastLinks[1][i]">
				<div ng-messages="formCtrl['url'+i].$error">
					<div ng-message="required">Это обязательное поле</div>
					<div ng-message="url">Введите корректную ссылку</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="33">
				<label>Описание {{i}}</label>
				<input md-maxlength="60" required pattern="[^!?]*" md-no-asterisk name="desc{{i}}" ng-model="fastLinks[2][i]">
				<div ng-messages="formCtrl['desc'+i].$error">
					<div ng-message="required">Это обязательное поле</div>
					<div ng-message="md-maxlength">Длинна текста не должна превышать 60 символов</div>
					<div ng-message="pattern">Текст может состоять из букв, цифр и символов, кроме «!» и «?»</div>
				</div>
			</md-input-container>
		</div>

		<md-button class="md-raised md-primary" ng-disabled="isLoader || !formCtrl.$valid" ng-click="setFastLinks()">Применить</md-button>
	</form>

</md-content>
