<md-dialog aria-label="Вставка быстрых ссылок" flex="50">
  <base href="pages/preview/">
	<form ng-cloak>
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools">
				<h2>Вставка быстрых ссылок</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">clear</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<section>
					<p>
						Поддерживается импорт из двух источников:
					</p>
					<ol>
						<li>Струкрура описанная вручную</li>
						<li><del>Экспортированный аккаунт AdWords</del></li>
					</ol>
				</section>

				<!--<section>
					<h4>Импорт из AdWords</h4>
					<p>
						Чтобы импортировать ключевые слова из аккаунта AdWords:
					</p>
					<ol>
						<li>В admaker выберите режим <b>Шаблон из AdWords</b></li>
						<li>Откройте Google AdWords Editor</li>
						<li>В верхнем меню выберите: <b>Аккаунт</b> → <b>Экспорт</b> → <b>Экспортировать весь аккаунт...</b></li>
						<li>Загрузите полученный файл в admaker</li>
					</ol>
				</section>-->

				<h4>Импорт из собственного шаблона</h4>
				<p>Admaker поддерживает несколько видов шаблонов:</p>

				<section>
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Быстрые ссылки с одной строкой описания</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<md-table-container>
								<table md-table>
									<thead md-head>
										<tr md-row>
											<th md-column>Кампания</th><th md-column>Группа</th><th md-column>Ключевое слово</th><th md-column>Заголовок 1</th><th md-column>URL 1</th><th md-column>Описание 1</th><th md-column>Заголовок 2</th><th md-column>URL 2</th><th md-column>Описание 2</th><th md-column>Заголовок 3</th><th md-column>URL 3</th><th md-column>Описание 3</th><th md-column>Заголовок 4</th><th md-column>URL 4</th><th md-column>Описание 4</th>
										</tr>
									</thead>
									<tbody md-body>
										<tr md-row>
											<td md-cell>Кампания_1</td><td md-cell>Группа_1</td><td md-cell>Фраза_1</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_1</td><td md-cell>Группа_2</td><td md-cell>Фраза_2</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_2</td><td md-cell>Группа_1</td><td md-cell>Фраза_3</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_2</td><td md-cell>Группа_2</td><td md-cell>Фраза_4</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд мастера</td>
										</tr>
									</tbody>
								</table>
							</md-table-container>
						</md-card-content>
					</md-card>
				</section>

				<section>
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Быстрые ссылки с двумя строками описания</span>
								 <span class="md-subhead">Учтите, что при обработке первая и вторая строки описания будут <b>объеденены в одну через пробел</b></span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<md-table-container>
								<table md-table>
									<thead md-head>
										<tr md-row>
											<th md-column>Кампания</th><th md-column>Группа</th><th md-column>Ключевое слово</th><th md-column>Заголовок 1</th><th md-column>URL 1</th><th md-column>Описание 1</th><th md-column>Вторая строка</th><th md-column>Заголовок 2</th><th md-column>URL 2</th><th md-column>Описание 2</th><th md-column>Вторая строка</th><th md-column>Заголовок 3</th><th md-column>URL 3</th><th md-column>Описание 3</th><th md-column>Вторая строка</th><th md-column>Заголовок 4</th><th md-column>URL 4</th><th md-column>Описание 4</th><th md-column>Вторая строка</th>
										</tr>
									</thead>
									<tbody md-body>
										<tr md-row>
											<td md-cell>Кампания_1</td><td md-cell>Группа_1</td><td md-cell>Фраза_1</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>к нам</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная</td><td md-cell>информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание</td><td md-cell>офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд</td><td md-cell>мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_1</td><td md-cell>Группа_2</td><td md-cell>Фраза_2</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>к нам</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная</td><td md-cell>информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание</td><td md-cell>офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд</td><td md-cell>мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_2</td><td md-cell>Группа_1</td><td md-cell>Фраза_3</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>к нам</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная</td><td md-cell>информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание</td><td md-cell>офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд</td><td md-cell>мастера</td>
										</tr>
										<tr md-row>
											<td md-cell>Кампания_2</td><td md-cell>Группа_2</td><td md-cell>Фраза_4</td><td md-cell>Прайс</td><td md-cell>https://example.com/price</td><td md-cell>Заходите</td><td md-cell>к нам</td><td md-cell>Контакты</td><td md-cell>https://example.com/contacts</td><td md-cell>Контактная</td><td md-cell>информация</td><td md-cell>Для компаний</td><td md-cell>https://example.com/company</td><td md-cell>Обслуживание</td><td md-cell>офисов</td><td md-cell>Ремонт на дому</td><td md-cell>https://example.com/company</td><td md-cell>Выезд</td><td md-cell>мастера</td>
										</tr>
									</tbody>
								</table>
							</md-table-container>
						</md-card-content>
					</md-card>
				</section>

				<section>
					<p>Для создания шаблона, заполните таблицу в Exel в соотведствии с одним из выше перечисленных форматов. 
						Затем, сохраните файл как <b>Текстовый файл (с разделителями табуляции)</b>
					</p>
				</section>
			</div>
		</md-dialog-content>

		<!--<md-dialog-actions layout="row">
			<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
				More on Wikipedia
			</md-button>
			<span flex></span>
			<md-button ng-click="answer('not useful')">
			 Not Useful
			</md-button>
			<md-button ng-click="answer('useful')">
				Useful
			</md-button>
		</md-dialog-actions>-->
	</form>
</md-dialog>
