<md-content ng-controller="fastLinksCtrl" layout="column" layout-padding class="full-height">
	<section flex layout="row" layout-align="center center" class="full-height">
		<div md-whiteframe="4" layout="column" layout-padding style="text-align: center">
			<p>Выберите файл с быстрыми ссылками</p>
			<md-radio-group ng-model="target" style="text-align: left;">
				<md-radio-button value="custom"> Шаблон созданный вручную </md-radio-button>
				<md-radio-button ng-disabled="true" value="adwords" class="md-primary">Шаблон из AdWords</md-radio-button>
			</md-radio-group>
			<md-button ng-click="setFastLinks()" class="md-raised md-primary" ng-disabled="isLoader">Загрузить</md-button>
		</div>
	</section>
</md-content>
