<md-content ng-controller="utmCtrl" layout="column" class="full-height">
	<div layout="row">
		<md-card flex="66">
			<md-card-content>
				<md-radio-group ng-model="target">
					<md-radio-button value="main">Пометка основных ссылок</md-radio-button>
					<md-radio-button value="fast" ng-disabled="!previewData.fastlink_url">Пометка быстрых ссылок</md-radio-button>
				</md-radio-group>

				<md-input-container>
					<label>Campaign Source</label>
					<input required md-no-asterisk name="utm_source" ng-model="utm.utm_source">
				</md-input-container>
				
				<md-input-container>
					<label>Campaign Medium</label>
					<input md-no-asterisk name="utm_medium" ng-model="utm.utm_medium">
				</md-input-container>

				<md-input-container>
					<label>Campaign Name</label>
					<input md-no-asterisk name="utm_campaign" ng-model="utm.utm_campaign">
				</md-input-container>

				<md-input-container>
					<label>Campaign Term</label>
					<input md-no-asterisk name="utm_term" ng-model="utm.utm_term">
				</md-input-container>

				<md-input-container>
					<label>Campaign Content</label>
					<input md-no-asterisk name="utm_content" ng-model="utm.utm_content">
				</md-input-container>
			</md-card-content>
			<md-card-actions layout="column">
				<md-button class="md-raised md-primary" ng-disabled="isLoader" ng-click="setUtm()">Пометить</md-button>
			</md-card-actions>
		</md-card>

		<md-card flex="33">
			<md-card-content>
				<p>Вы можете использовать следующие специальные теги:</p>
				<dl>
					<dt><b>${campaign_name}</b></dt>
						<dd>Будет заменён на название кампании</dd>
					<dt><b>${group_name}</b></dt>
						<dd>Будет заменён на название кампании</dd>
					<dt><b>${ad_title}</b></dt>
						<dd>Будет заменён на заголовок объявления</dd>
					<dt ng-if="target == 'fast'"><b>${fastlink_name}</b></dt>
						<dd ng-if="target == 'fast'">Будет заменён на заголовок быстрой ссылки</dd>
				</dl>
			</md-card-content>
		</md-card>
	</div>

	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Пример результата</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content style="word-wrap: break-word;">
			{{getSample()}}
		</md-card-content>
	</md-card>
</md-content>
