<md-dialog aria-label="Просмотр состояния кампаний" flex="50">
  <base href="pages/preview/">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Просмотр состояния кампаний</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">clear</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<p>
					В этом окне вы можете просматривать основную информацию по каждой группе объявлений.
					Вся вносимая вами информация будет автоматически отображаться сдесь.
				</p>
				<p>
					Вы можете сортировать колонки, изменять категорию для отображения нужной вам информации (Ключевые слова, Быстрые ссылки) и использовать поиск. 
				</p>
			</div>
		</md-dialog-content>

		<!--<md-dialog-actions layout="row">
			<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
				More on Wikipedia
			</md-button>
			<span flex></span>
			<md-button ng-click="answer('not useful')">
			 Not Useful
			</md-button>
			<md-button ng-click="answer('useful')">
				Useful
			</md-button>
		</md-dialog-actions>-->
	</form>
</md-dialog>
