<div layout="column" ng-controller="previewCtrl" style="height: 100%;">

	<md-card style="margin: 0;box-shadow: none;">
		<md-toolbar class="md-table-toolbar md-default">
			<div class="md-toolbar-tools">
				<md-button ng-if="query.search"ng-click="setSearch('')" class="md-icon-button">
					<md-icon>close</md-icon>
				</md-button>
				<label for="search_field" ng-if="!query.search" class="md-button md-icon-button">
					<md-icon>search</md-icon>
				</label >
				<input id="search_field" flex type="text" ng-model="query.search" placeholder="Поиск">
				<md-select flex="25" ng-model="query.view" placeholder="Данные" class="md-no-underline" style="margin: 20px 0 20px;">
					<md-option value="ad">Объявления</md-option>
					<md-option value="keyword">Ключевые слова</md-option>
					<md-option value="bs">Быстрые ссылки</md-option>
				</md-select>
			</div>
		</md-toolbar>
	
		<md-table-container>
			<table md-table class="preview">
				<thead md-head md-order="query.order">
				<tr md-row>
					<th md-column md-order-by="campain"><span>Кампания</span></th>
					<th md-column md-order-by="group"><span>Группа</span></th>
					<th ng-if="query.view === 'ad'" md-column md-order-by="ad_title">Заголовок</th>
					<th ng-if="query.view === 'ad'" md-column md-order-by="ad_desc">Описание</th>
					<th ng-if="query.view === 'ad'" md-column md-order-by="ad_url">Отображаемая ссылка</th>
					<th ng-if="query.view === 'ad'" md-column md-order-by="ad_ancor">URL</th>
					<th ng-if="query.view === 'keyword'" md-column md-order-by="keyword">Фраза</th>
					<th ng-if="query.view === 'bs'" md-column md-order-by="fastLink_title">Заголовок</th>
					<th ng-if="query.view === 'bs'" md-column md-order-by="fastLink_url">Ссылка</th>
					<th ng-if="query.view === 'bs'" md-column md-order-by="fastLink_desc">Описание</th>
				</tr>
				</thead>
				<tbody md-body>
				<tr md-row ng-repeat="row in data | view:query.view | orderBy: query.order | filter:query.search track by $index">
					<td md-cell><a href="" ng-click="setSearch(row.campain)">{{row.campain}}</a></td>
					<td md-cell><a href="" ng-click="setSearch(row.group)">{{row.group}}</a></td>
					<td ng-if="query.view === 'ad'" md-cell>{{row.ad_title}}</td>
					<td ng-if="query.view === 'ad'" md-cell>{{row.ad_desc}}</td>
					<td ng-if="query.view === 'ad'" md-cell>{{row.ad_ancor}}</td>
					<td ng-if="query.view === 'ad'" md-cell><a href="" ng-click="openExternal(row.ad_url)">{{row.ad_url}}</a></td>
					<td ng-if="query.view === 'keyword'" md-cell>{{row.keyword}}</td>
					<td ng-if="query.view === 'bs'" md-cell>{{row.fastLink_title}}</td>
					<td ng-if="query.view === 'bs'" md-cell><a href="" ng-click="openExternal(row.fastLink_url)">{{row.fastLink_url}}</a></td>
					<td ng-if="query.view === 'bs'" md-cell>{{row.fastLink_desc}}</td>
				</tr>
				</tbody>
			</table>
		</md-table-container>
	</md-card>
</div>
