body {
	opacity: 0;
	overflow: hidden;
	/*min-width: 700px;
	min-height: 500px;*/
}

body.ng-scope {
	opacity: 1;
		overflow: auto;
}
.full-height {
	height: 100%;
}

/*.compact-list md-list-item, .compact-list md-list-item .md-list-item-inner, .compact-list md-list-item .md-button {
	height: 20px;
	min-height: 20px;
	line-height: 20px;
}*/

md-list-item.active {
	background-color: #3f51b5;
	color: #fff;
}

.preview-table {
	/*table-layout: fixed;*/
	    /*table-layout: fixed;*/
    /*width: 300%;*/
    /*height: 100%;*/
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
	height: 100%;
}
/*.progress-circular-container {
	display: flex;
	justify-content: center;
	min-height: 226px;
	align-items: center;
	box-sizing: border-box;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 8px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}*/
